.advantages {
  scroll-behavior: smooth;
  max-width: 1170px;
  margin: 0 auto;
}

.advantages__wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  padding-bottom: 72px;
  padding-top: 109px;
}

.advantages__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  list-style: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  box-sizing: border-box;
  width: 48%;
  border: 1px solid #EBEBEB;
  border-left: 3px solid $basic_blue;
  padding-top: 43px;
  padding-left: 41px;
  padding-right: 43px;
  padding-bottom: 49px;
  margin-bottom: 30px
}

.advantages__item:nth-child(odd) {
  margin-right: 30px;
}

.advantages__item h4 {
  padding-top: 23px;
  padding-bottom: 15px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 24px;
  line-height: 34px;
  color: $basic_blue;
  font-weight: 400;
  margin: 0;
}

.advantages__item p {
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
  margin: 0;
}

.advantages__item:hover {
  background-color: $basic_blue;
  cursor: pointer;
}

.advantages__item:hover h4,
.advantages__item:hover p {
  color: $basic_light;
}

.advantages__item:hover .advantages__img {
  fill: $basic_light;
}

/*
--------- МЕДИАВЫРАЖЕНИЯ ---------
*/

@media (max-width: $tablet_breakpoint) {
  .advantages__wrapper {
    width: 100%;
    padding-top: 54px;
  }

  .advantages__list {
    padding-left: 25px;
    padding-right: 25px;
  }

  .advantages__item {
    width: 47%;
    padding-top: 27px;
    padding-left: 25px;
    padding-right: 5px;
    padding-bottom: 24px;
    margin-bottom: 30px
  }

  .advantages__item h4 {
    padding-top: 14px;
  }
}

@media (max-width: $mobile_breakpoint) {
  .advantages__wrapper {
    width: 100%;
    padding-top: 54px;
    padding-bottom: 60px;
  }

  .advantages__list {
    padding-left: 14px;
    padding-right: 14px;
  }

  .advantages__item {
    width: 100%;
    padding-top: 27px;
    padding-left: 25px;
    padding-right: 5px;
    padding-bottom: 24px;
    margin-bottom: 20px
  }

  .advantages__item:nth-child(odd) {
    margin-right: 0;
  }
}

