.button {
   z-index: 4;
  padding: 14px 0;
  border-radius: 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  font-family: "Roboto Condensed";
  text-transform: uppercase;
  color: $basic_light;
  cursor: pointer;
}
