.header-contacts {
  position: relative;
  width: 40%;
  z-index: 4;
}

.header-contacts__item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-contacts__link {
  line-height: 18px;
  color: $basic_light;
  padding-left: 18px;
}

.header-contacts__btn {
  position: relative;
  z-index: 4;
  width: 180px;
  padding: 14px 0;
  border: 1px solid $basic_light;
  border-radius: 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  font-family: "Roboto Condensed";
  text-transform: uppercase;
  color: $basic_light;
  background-color: transparent;
  cursor: pointer;
}
