.header {
  position: relative;
  z-index: 4;
  padding: 25px 0;
  background-color: $basic_dark;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    min-height: 881px;
    background-image: url("../img/header_back_desk@1x.png");
    background-position: top center;
    background-size: cover;
  }
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__contacts {
  display: flex;
  justify-content: space-around;
}

.header__logo {
  position: relative;
  z-index: 4;
  margin-right: auto;
}
