body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  font-family: "PT Mono", "Arial", sans-serif;
  color: $font_lightgray;
  text-decoration: none;
}

a {
  text-decoration: none;
}
