$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// -------------------------- desktop
$desktop_min_width: 1024px;

// -------------------------- mobile
$mobile_min_width: 320px;
$mobile_breakpoint: 767px;

// -------------------------- tablet
$tablet_width: 768px;
$tablet_breakpoint: 1023px;

// -------------------------- basic colors
$basic_light: #ffffff;
$basic_dark: #1b2d37;
$basic_blue: #00b2ff;

// -------------------------- fonts color
$font_lightgray: #666666;
$font_darkgray: #1b2d37;
